/* Style the body */
body {
  font-family: Optima;
  margin: 0;
  background: #236477;
}

/* Header/Logo Title */
.header {
  padding: 60px;
  text-align: center;
  background-image: url('https://images.pexels.com/photos/1484516/pexels-photo-1484516.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  color: white;
  font-size: 20px;
}

.subtext{
 margin-top: 10px;
}

/* Header list */
.header ul {
 list-style-type: none;
 margin: 0;
 padding: 0;
}
.header a {
 text-decoration: none;
 color: white;
}

li {
 display: inline;
 margin: 10px;
}

/* Page Content */
.content {
margin-top: 10px;
padding:20px;
color: white;

}

.content img {
 max-width:500px;
 height: auto;
 float: left;
}
